<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>BorisAT - Spring Boot Thymeleaf example</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container">
    <h2>Edit user data</h2>
    <hr>


    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">

        <th>Name</th>
        <input type="text" required th:field="*{name}" placeholder="User Name">
        <h6></h6>
        <th>Age</th>
        <input type="number" required th:field="*{age}" placeholder="User Age" min="18" max="99">
        <h6></h6>
        <th>Email</th>
        <input type="text" required th:field="*{email}" placeholder="User Email">
        <h6></h6>
        <th>Password</th>
        <input type="text" required th:field="*{password}" placeholder="User password">
        <h6></h6>


        <th:block th:each="role:${roles}">
            <input type="checkbox"
                   name="roles"
                   th:value="${role}"
                   th:text="${role}"
                   th:checked="${user.roles.contains(role)}"
                   class="m-2"/>
        </th:block>

        <button type="submit"> Save User</button>
    </form>

    <hr>

    <h3><<a th:href="@{/users}"> Back to User List</a>
    </h3>


    <h3><a th:href="@{/user}"> My info</a>
    </h3>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>

</html>