<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>My CRUD APP</title>
</head>

<body>
<div class="container">
    <h2>Edit user data</h2>
    <hr>


    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">

        <th>Name</th>
        <input type="text" required th:field="*{name}" placeholder="User Name">
        <h6></h6>
        <th>Age</th>
        <input type="number" required th:field="*{age}" placeholder="User Age" min="18" max="99">
        <h6></h6>
        <th>Email</th>
        <input type="text" required th:field="*{email}" placeholder="User Email">
        <h6></h6>
        <th>Password</th>
        <input type="text" required th:field="*{password}" placeholder="User password">
        <h6></h6>

        <th:block th:each="role:${roles}">
            <input type="checkbox"
                   name="roles"
                   th:value="${role}"
                   th:text="${role}"
                   th:checked="${user.roles.contains(role)}"
                   class="m-2"/>
        </th:block>
        <button type="submit"> Save User</button>
    </form>
    <hr>

</div>
</body>

</html>