<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>My CRUD APP</title>
    <style>
        .nav.flex-column {
            margin-top: 20px;
        }

        .nav-item {
            margin-bottom: 10px;
        }


        .btn-info {
            margin-right: 10px;
        }

        .btn-danger {
            margin-left: 10px;
        }

    </style>
</head>
<body>
<div>
    <h2>Reset Your Password</h2>
</div>

<form id="user-form" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}"/>
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="hidden" name="user_id" th:value="${user.id}" id="user_id" class="form-control"
                       placeholder="user_id" required autofocus/>
            </p>

            <p>
                <input type="password" name="password" id="user_password" class="form-control"
                       placeholder="Enter your new password" required autofocus/>
            </p>
            <p>
                <input type="password" class="form-control" placeholder="Confirm your new password"
                       required oninput="checkPasswordMatch(this);"/>
            </p>
            <p class="text-center">
                <input type="submit" value="Change Password" class="btn btn-primary"/>
            </p>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#user-form').submit(function (event) {
            event.preventDefault();
            var user = {
                id: $('#user_id').val(),
                password: $('#user_password').val(),

            };

            $.ajax({
                url: "/api/users/resetPassword",
                type: "PUT",
                data: JSON.stringify(user),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                async: false,
                success: function (data) {
                    console.log('User saved:', data);
                    window.location.href = "/users";
                },
                error: function error(err) {
                    console.log(err);
                    document.getElementById("error-message").innerHTML = "Произошла ошибка: " + err.message;
                }
            });
        });
    });
</script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
