<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>BorisAT - Spring Boot Thymeleaf example</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
     role="alert">
    [[${message}]]
    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>


<div th:if="${users.size() > 0}">
    <h1>Users</h1>
    <hr>

    <table border="1">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th>[[${user.id}]]</th>
            <td>[[${user.name}]]</td>
            <td>[[${user.age}]]</td>
            <td>[[${user.email}]]</td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
            <td><a th:href="@{/editUser/{id}(id=${user.id})}">Edit</a>
                <a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a>
                <a th:href="@{/makeAdmin/{id}(id=${user.id})}">Make Admin</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
<h3><a th:href="@{/newUser}"> Add new User</a>
</h3>


<h3><a th:href="@{/user}"> My info</a>
</h3>
<a th:href="@{/logout}">Logout</a>
</body>

</html>